body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    background: 
  }
  
  * {
    box-sizing: border-box;
  }
  

  .container {
    width: 85;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 15px;
  }
  
  p:last-child {
    margin-bottom: 5;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000000;
  }
  
  h1 {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 3px solid #ffffff;
  }
  
  h2,
  h3 {
    font-size: 20px;
  }
  
  /* header */
  
  #header {
    position: center;
    z-index: 100;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #e69233;
    background: #e69233;
    border-bottom: 1px solid #e69233;
    
  }
  
  #mylogo {
    float: center;
    width: 300px;
    height: 100px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 40px;
    font-weight: 650;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #e69233;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-left: 1px solid #ffffff;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 20px 5;
    clear: both;
    font-size: 14px;
    color: #ffffff;
    color: #ffffff;
    text-align: center;
    background: #ffffff;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }
  
  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #ffffff;
  }
  
  /* main */
  
  #main-container {
    padding-top: 100;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: center;
    width: 750;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #f8ebeb;
    border: 1px solid #e69233;
  }
  
  #header1 {
    position: absolute;
    z-index: 50;
    width: 100%;
    margin: 0 0 30px;
    overflow: none;
    color: #e69233;
    background: #e69233;
    border-bottom: 1px solid #e69233;
    
  }
  
  #main-container1 {
    padding-top: 130px;
  }
  
  .main-section1 {
    float: center;
    width: 100%;
    max-width: 650px;
  
    /* Box-model */
    padding: 30px;
  
    /* Positioning */
    margin: 0 0 40px;
    background: #fff;
  
    /* Visual */
    border: 0px solid #ddd;
  }


  /* portfolio page */
  
  .work {
    /* Positioning */
    position: relative;
    float: left;
  
    /* Box-model */
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    /* Box-model */
    width: 100%;
  
    /* Visual */
    border: 0 none;
  
    /* Misc */
    opacity: 0.8;
  }
  
  .work h3 {
    /* Positioning */
    position: absolute;
    bottom: 20px;
    width: 100%;
  
    /* Box-model */
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
  
    /* Typography */
  
    color: #fff;
    text-align: center;
    background: #4aaaa5;
  
    /* Visual */
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
  
    /* Box-model */
    width: 200px;
    height: auto;
    margin-top: 10px;
  
    /* Positioning */
    margin-right: 25px;
  }
  
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 15px;
  }
  
  #contact-form li {
    margin-bottom: 15px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: inline-table;
    width: 75%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 40px;
    padding: 12px;
    font-size: 12px;
    border: 1px solid #ffffff;
  }
  
  textarea {
    height: 175px;
  }
  
  input[type=submit] {
    padding: 12px 40px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    background: #e69233;
    border: 0 none;
  }
  